{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Janus Vault">
    <meta property="og:type" content="website">
    <meta property="og:URL" content="https://janus-vault.com">
    <meta property="og:image" content="{{ post.image.url }}">
    <meta property="og:description" content="Free Image Hosting">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="{% block source %}{% endblock %}">
<body>
    <div id="content" name="content">
	{% block content %}
	{% endblock %}
    </div>
</body>
</html>