{% extends 'base.html' %}

{% load static %}

{% block source %}{% static 'app/style.css' %}{% endblock %}

{% block title %}Janus Vault{% endblock %}

{% block content %}
    <div class="hero">
        <h1>Janus Vault</h1>
        <p>Free Image Hosting</p>
    </div>

    <article>
        {% if {{ post.image.url }} %}
            <img src="{{ post.image.url }}">
        {% elif {{ post.image.url }} %}
            <video controls>
                <source src="{{ post.image.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% else %}
            <p>Yoooooo?</p>
        {% endif %}
        <footer>Footer</footer>
    </article>    

    <p>The count is {{ count }}</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="file" name="image" id="image" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
{% endblock %}